
body {
    margin: 0px;
    font-family: "Space Grotesk", sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.nft_h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    margin-bottom: 24px;
}

.nft_h3 {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    margin: 0;
     
}

/* hrader */

header {
    width: 100%;
    height: 78px;
    background-color: #fff;
    border-bottom: 1px solid #F8E0F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

header img {
    width: 151px;
    height: 50px;
  /*  margin: 0 auto;
    margin-top: 20px;*/
    margin-right: 32px;
}

.menu_wrapper {
    display: flex;
}

.menu_wrapper a {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    display:  flex;
    margin-right: 32px;
    white-space: nowrap;
    opacity: 0.5;
}

/*section__sellNft start*/
.section__sellNft {
    display:  flex;
    flex-flow: column;
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
}

.section__sellNft h1 {
    text-align: center;
    font-weight:  700;
    font-size: 80px;
    line-height: 96px;
    color: #000000;
    text-shadow: -5px 5px 0px #FFFFFF;
    padding-top: 117px;
    margin: 0 auto;
}

.section__sellNft p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
    padding-top: 32px;
    margin-bottom: 32px;
}

.section__sellNft button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    padding: 16px 20px;
    background: #532C59;
    border-radius: 15px;
    margin: 0 auto;
    color: #FFFFFF;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    outline: none;
}

.sellNft__bg {
    position: absolute;
    width: 1440px;
    height: 499px;
    left: 0;
    top: 57px;
    background: pink;
    background: radial-gradient(50% 50% at 50% 50%, #E36CE6 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.4;
    filter: blur(116px);
    z-index: -1;
}

.section__sellNft img {
    position: absolute;
}

.sellNft__img1 {
    width: 173px;
    height: 174px;
    top: 5px;
    left: 53px;
}

.sellNft__img3 {
    width: 111px;
    height: 112px;
    top: 67px;
    right: 167px;
}

.sellNft__img2 {
    width: 299px;
    height: 300px;
    top: 298px;
    left: -16px;
}

.sellNft__img4 {
    width: 211px;
    height: 211px;
    right: 33px;
    top: 387px;
     
}

/*section_partners*/
.section__partners {
    display: flex;
    justify-content: center; /* Центрируем по горизонтали */
    padding: 40px 0; /* Убираем padding по горизонтали */
    margin-top: 101px; /* Верхний отступ */
    max-width: 1440px;
    margin-left: auto; /* Выравниваем по центру */
    margin-right: auto; /* Выравниваем по центру */
}


.section__partners img {
    margin-right: 40px;
}

.section__partners img:last-child {
    margin-right: 0px;
}

/*section__team*/
.section__team {
    display: flex;
    flex-flow: column;
    margin-top: 80px;
}

.section__team .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 160px;
    padding-top: 10px;
}

.team__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 98px;
}

.team__wrapper p {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 12px;
    white-space: nowrap;
}

.team__wrapper span {
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
}

/*section__collections*/
.section__collections {
    display:  flex;
    flex-flow: column;
    margin: 0 auto;
    max-width: 1440px;
    
}

.section__collections .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 64px;
}

.collection__wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 412px;
    margin: 0 16px;
    margin-bottom: 64px
}


.collection__wrapper p{
    font-family: 'Syne';
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    max-width: 312px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 12px;
    margin-top: 16px;
}

.collection__wrapper span {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    max-width: 312px;
    text-align: center;
    color: #532C59;
}

/* section__provide */
.section__provide {
    display: flex;
    flex-flow: column;    
}

.section__provide .wrapper {
    display: flex;
    flex-flow: row wrap;
    padding-top: 56px;
    margin: 0 auto;
}

.provide__wrapper {
    display: flex;
    width: 301px;
    margin: 0 16px;
    flex-flow: column;
    align-items: center;
    padding-bottom: 220px;
}

.provide__wrapper p {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #000000;
    margin: 12px 0;
}

.provide__wrapper {
    font-family: 'Space Grotesk';
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
}

/* section__qanda */
.section__qanda {
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-bottom: 500px;
}

.qa__wrapper {
    padding: 24px;
    border: 2px solid #D6BCFA;
    border-radius: 15px;
    background: #FCFAFF;
    position: relative;
    min-width: 412px;
}

.qa__wrapper p{
    font-family: 'Space Grotesk';
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    opacity: 0.8px;
    color: #000000;
    margin: 0;
    padding-bottom: 12px;    
}

.qa__wrapper span {
    display: flex;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
    overflow: hidden;
    transition: 0.3s;
}

.qa__wrapper svg {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
}